@model IEnumerable<ParkingLot.Models.Parking>

@{
    ViewData["Title"] = "Parking";
}

<h1>Parking</h1>

<p>
    <a asp-action="Create">Create new parking</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Parking Name
            </th>
            <th>
                Spots
            </th>
            <th>
                Free spots
            </th>
            <th>
                Floors
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllSpots)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FreeSpots)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfFloors)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ParkingId">Edit parking</a> |
                <a asp-action="Details" asp-route-id="@item.ParkingId">Show details</a> |
                <a asp-action="Delete" asp-route-id="@item.ParkingId">Delete parking</a>
            </td>
        </tr>
}
    </tbody>
</table>
